In [6]:
pip install scipy

Requirement already satisfied: scipy in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (1.15.3)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from scipy) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
import pandas as pd
from scipy.stats import ttest_ind

In [9]:
df=pd.read_csv('website_ab_test.csv')
df.head()

,Theme,Click Through Rate,Conversion Rate,Bounce Rate,Scroll_Depth,Age,Location,Session_Duration,Purchases,Added_to_Cart
0,Light Theme,0.054920,0.282367,0.405085,72.489458,25,Chennai,1535,No,Yes
1,Light Theme,0.113932,0.032973,0.732759,61.858568,19,Pune,303,No,Yes
2,Dark Theme,0.323352,0.178763,0.296543,45.737376,47,Chennai,563,Yes,Yes
3,Light Theme,0.485836,0.325225,0.245001,76.305298,58,Pune,385,Yes,No
4,Light Theme,0.034783,0.196766,0.765100,48.927407,25,New Delhi,1437,No,No

In [11]:
df.shape

(1000, 10)

In [12]:
df.describe()

,Click Through Rate,Conversion Rate,Bounce Rate,Scroll_Depth,Age,Session_Duration
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,0.256048,0.253312,0.505758,50.319494,41.528000,924.999000
std,0.139265,0.139092,0.172195,16.895269,14.114334,508.231723
min,0.010767,0.010881,0.200720,20.011738,18.000000,38.000000
25%,0.140794,0.131564,0.353609,35.655167,29.000000,466.500000
50%,0.253715,0.252823,0.514049,51.130712,42.000000,931.000000
75%,0.370674,0.373040,0.648557,64.666258,54.000000,1375.250000
max,0.499989,0.498916,0.799658,79.997108,65.000000,1797.000000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Theme               1000 non-null   object
 1   Click Through Rate  1000 non-null   float64
 2   Conversion Rate     1000 non-null   float64
 3   Bounce Rate         1000 non-null   float64
 4   Scroll_Depth        1000 non-null   float64
 5   Age                 1000 non-null   int64
 6   Location            1000 non-null   object
 7   Session_Duration    1000 non-null   int64
 8   Purchases           1000 non-null   object
 9   Added_to_Cart       1000 non-null   object
dtypes: float64(4), int64(2), object(4)
memory usage: 78.3+ KB

In [18]:
df.isnull().sum()

Theme                 0
Click Through Rate    0
Conversion Rate       0
Bounce Rate           0
Scroll_Depth          0
Age                   0
Location              0
Session_Duration      0
Purchases             0
Added_to_Cart         0
dtype: int64

In [28]:
theme_performance = df.groupby('Theme').mean(numeric_only= True)
theme_performance_sorted = theme_performance.sort_values(by='Conversion Rate' ,ascending = False)
theme_performance_sorted

,Click Through Rate,Conversion Rate,Bounce Rate,Scroll_Depth,Age,Session_Duration
Theme,,,,,,
Light Theme,0.247109,0.255459,0.499035,50.735232,41.734568,930.833333
Dark Theme,0.264501,0.251282,0.512115,49.926404,41.332685,919.482490

In [29]:
Conversion_Rate_Light = df[df['Theme'] == 'Light Theme']['Conversion Rate']
Conversion_Rate_Dark = df[df['Theme'] == 'Dark Theme']['Conversion Rate']

t_stat,p_value = ttest_ind(Conversion_Rate_Light,Conversion_Rate_Dark,equal_var = False)
t_stat,p_value

(np.float64(0.4748494462782632), np.float64(0.6349982678451778))

In [30]:
Click_Through_Rate_Light = df[df['Theme']=='Light Theme']['Click Through Rate']
Click_Through_Rate_Dark = df[df['Theme']=='Dark Theme']['Click Through Rate']

t_stat_ctr,p_value_ctr= ttest_ind(Click_Through_Rate_Light,Click_Through_Rate_Dark,equal_var=False)
t_stat_ctr,p_value_ctr

(np.float64(-1.9781708664172253), np.float64(0.04818435371010704))

In [31]:
Bounce_Rate_Light = df[df['Theme']=='Light Theme']['Bounce Rate']
Bounce_Rate_Dark = df[df['Theme']=='Dark Theme']['Bounce Rate']

t_stat_bor,p_value_bor = ttest_ind(Bounce_Rate_Light,Bounce_Rate_Dark,equal_var = False)
t_stat_bor,p_value_bor

(np.float64(-1.2018883310494073), np.float64(0.229692077505148))

In [32]:
Scroll_Depth_Light = df[df['Theme']=='Light Theme']['Scroll_Depth']
Scroll_Depth_Dark = df[df['Theme']=='Dark Theme']['Scroll_Depth']

t_stat_sd,p_value_sd = ttest_ind(Scroll_Depth_Light,Scroll_Depth_Dark,equal_var = False)
t_stat_sd,p_value_sd

(np.float64(0.7562277864140986), np.float64(0.4496919249484911))

In [34]:
Comparison_table = pd.DataFrame({'Metric':['Conversion Rate','Click Through Rate','Bounce Rate','Scroll_Depth'],
              'T-Statsistic' : [t_stat,t_stat_ctr,t_stat_bor,t_stat_sd],
              'P-value':[p_value,p_value_ctr,p_value_bor,p_value_sd]})
Comparison_table

               Metric  T-Statsistic   P-value
0     Conversion Rate      0.474849  0.634998
1  Click Through Rate     -1.978171  0.048184
2         Bounce Rate     -1.201888  0.229692
3        Scroll_Depth      0.756228  0.449692